<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Transfer files for free with this tool.">
    <meta name="author" content="Aiko AI">
    <title>Aiko Transfer | Free Peer To Peer File Transfer</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" type="image/png" href="favicon.png" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
</head>

<body>
    <div id="app">


        <!-- Initialize Download or Upload -->
        <div class="zone">
            <div id="dropZ">
                <i class="fas fa-cloud-upload-alt"></i>
                <div>Drag and drop your file here</div>
                <span>OR</span>
                <div class="selectFile">
                    <label for="file">Select file</label>
                    <input type="file" id="file" @change="maybeSeed" multiple>
                </div>
                <span>OR</span>
                <div>Download using a magnet link. <input @keyup.enter="download" type="text" :disabled="loading"
                        v-model="magnet" placeholder="magnet:"></div>
            </div>
        </div>
        <a href="https://helloaiko.com" target="_blank" class="no-mobile"><img src="power.png"></a>
        <a href="https://helloaiko.com" target="_blank" class="no-desktop"><img src="power-white.png"></a>


        <!-- OLD STUFF -->

        <div v-if="torrent">
            {{torrent.name}} ({{torrent.length}} bytes): <a href="#">{{torrent.magnetURI}}</a>
            <ul>
                <li v-for="file in torrent.files">{{file.name}} ({{file.length}} bytes)</li>
            </ul>
        </div>
        <p v-if="error">{{error}}</p>
        <p v-if="addedTorrents.length">Loading torrents:</p>
        <ul v-if="addedTorrents.length">
            <li v-for="addedTorrent in addedTorrents">
                {{addedTorrent.name}} ({{addedTorrent.length}} bytes)
                <br>
                {{(addedTorrent.progress * 100).toFixed(2)}}% done, ETA:
                {{(addedTorrent.timeRemaining / 1000).toFixed(0)}} seconds
                <ul>
                    <li v-for="file in addedTorrent.files">{{file.name}} ({{file.length}} bytes)</li>
                </ul>
            </li>
        </ul>
        <p v-if="finishedTorrents.length">Torrents:</p>
        <ul v-if="finishedTorrents.length">
            <li v-for="finishedTorrent in finishedTorrents">
                {{finishedTorrent.name}} ({{finishedTorrent.length}} bytes)
                <br>
                {{(finishedTorrent.progress * 100).toFixed(2)}}% done, ETA:
                {{(finishedTorrent.timeRemaining / 1000).toFixed(0)}} seconds
                <ul>
                    <li v-for="file in finishedTorrent.files">{{file.name}} ({{file.length}} bytes)</li>
                </ul>
            </li>
        </ul>
    </div>


    <script src="dragdrop.min.js"></script>
    <script src="webtorrent.min.js"></script>
    <script src="vuep.js"></script>
    <script src="filetransfer.js"></script>
</body>

</html>