<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Transfer files for free with this tool.">
    <meta name="author" content="Aiko AI">
    <title>Aiko Transfer | Free Peer To Peer File Transfer</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <link rel="stylesheet" href="style.css">
    <link rel="shortcut icon" type="image/png" href="favicon.png" />
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css">
</head>

<body>
   <div class="loader-6 center-loader" id="fixed"><span></span></div>
    <div id="app">

        <div class="zone" v-if="!torrent && !(addedTorrents.length) && !(finishedTorrents.length)">
            <div id="dropZ">
                <i class="fas fa-cloud-upload-alt"></i>
                <div>Drag and drop your file here</div>
                <span>OR</span>
                <div class="selectFile">
                    <label for="file">Select file</label>
                    <input type="file" id="file" @change="maybeSeed" multiple>
                </div>
                <span>OR</span>
                <div>Download using a magnet link. <input @keyup.enter="download" type="text" :disabled="loading"
                        v-model="magnet" placeholder="magnet:"></div>
            </div>
        </div>
        <a href="https://helloaiko.com" target="_blank" class="no-mobile"><img src="power.png"></a>
        <a href="https://helloaiko.com" target="_blank" class="no-desktop"><img src="power-white.png"></a>

        <div class="zone2" v-if="torrent">
            <div class="display">
                <div class="torrent">
                    <h1 style="margin-top: 0">Share your link</h1>
                    <p>{{torrent.name}}<span v-if="torrent.length">{{torrent.length.toFilesize()}}</span></p>

                    <input @click="copy(shareLink)" :value="shareLink" disabled type="url" name="Share Link" placeholder="Share Link">
                    <a href="#" @click="copy(shareLink)" title="Copy link" style=" margin-left: 5px;"><i class="fas fa-copy"></i></a>
                    <a href="#" @click="copy(torrent.magnetURI)" style=" margin-left: 5px;"><i class="fas fa-magnet"></i></a>

                    <div class="file" v-for="file in torrent.files">
                        <i :class="['fas', file2icon(file.name)]"></i>
                        <p>{{file.name}}<span v-if="file.length">{{file.length.toFilesize()}}</span></p>
                    </div>
                </div>
            </div>
        </div>

        <div class="zone2" v-if="addedTorrents.length || finishedTorrents.length">
            <div class="display">
                <div class="torrent" v-for="addedTorrent in addedTorrents">
                    <p>{{addedTorrent.name}}<span v-if="addedTorrent.length">{{addedTorrent.length.toFilesize()}}</span></p>
                    <div class="w3-light-grey" style="display: inline-block;width: 100px;border-radius: 2px;">
                        <div class="w3-container w3-green w3-center"
                            :style="'width:' + (addedTorrent.progress * 100) + '%;padding:0'">
                            {{(addedTorrent.progress * 100).toFixed(2)}}%
                            ({{(addedTorrent.timeRemaining /  1000).toFixed(0)}}s ETA)
                        </div>
                    </div>
                    <div class="file" v-for="file in addedTorrent.files">
                        <i :class="['fas', file2icon(file.name)]"></i>
                        <p>{{file.name}}<span v-if="file.length">{{file.length.toFilesize()}}</span></p>
                    </div>
                </div>
                <div class="torrent" v-for="finishedTorrent in finishedTorrents">
                    <p>{{finishedTorrent.name}}<span v-if="finishedTorrent.length">{{finishedTorrent.length.toFilesize()}}</span></p>
                    <div class="w3-light-grey" style="display: inline-block;width: 100px;border-radius: 2px;">
                        <div class="w3-container w3-green w3-center"
                            :style="'width:' + (finishedTorrent.progress * 100) + '%;padding:0'">
                            {{(finishedTorrent.progress * 100).toFixed(2)}}%
                            ({{(finishedTorrent.timeRemaining /  1000).toFixed(0)}}s ETA)
                        </div>
                    </div>
                    <div class="file" v-for="file in finishedTorrent.files">
                        <i :class="['fas', file2icon(file.name)]"></i>
                        <p>{{file.name}}<span v-if="file.length">{{file.length.toFilesize()}}</span></p><a @click="downloadFile(file)" v-if="file.done" href="#">Download</a>
                    </div>
                </div>
            </div>
        </div>
        <a href="https://helloaiko.com/meet" target="_blank" class="no-mobile"><img class="ad" src="ad.png"></a>
    </div>

    <script src="vuep.js"></script>
    <script src="dragdrop.min.js"></script>
    <script src="filesaver.min.js"></script>
    <script src="webtorrent.min.js"></script>
    <script src="filetransfer.js"></script>
</body>

</html>